{% extends '_layout.html' %} {% block content %}
<div class="flex flex-row justify-between mb-10">
    <h1 class="text-3xl font-bold">Workouts</h1>
    <a
            href="/workout/add"
            class="bg-emerald-600 text-emerald-50 font-bold p-3 px-5 rounded shadow-lg cursor-pointer transition ease-in-out hover:-translate-x-1 hover:scale-110 hover:bg-emerald-800"
    >
        Add Workout
    </a>
</div>
<table class="table" id="tblWorkouts" style="maxWidth: 1000px">
    <thead>
    <tr>
        <th></th>
        <th>Date Created</th>
        <th>Workout Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {% for workout in workouts %}
    <tr>
        <td>
            <a href="/workout/edit/{{workout.id}}" class="p-1 px-3 text-xs bg-sky-800 rounded-full hover:bg-sky-950">edit</a>
        </td>
        <td>{{ workout.created_at }}</td>
        <td>{{ workout.name }}</td>

        <td title="{{workout.description}}">
            <div class="overflow-auto" style="maxWidth:600px">{{ workout.description|slice:":100" }}...</div>
        </td>
    </tr>
    {% endfor %}
    </tbody>


</table>


{% endblock %} {% block scripts %}
<script>
    $(document).ready(function () {
        $("#tblWorkouts").DataTable();
    });
</script>
{% endblock %}
